<div id="inner-container">
  <div id="main-logo">
    <%= image_tag("logo.png", alt: "Fail") %> 
  </div>
  <div id="member-section">
    <div id="input">
      <div style="" id="email">
        <input type="email" placeholder="Email" style="">
      </div>
      <div style="" id="password">
        <input type="password" placeholder="Password" style="">
      </div>
    </div>
    <table style="margin-top:15px">
      <td class="align-right">
        <!--<div class="" data-toggle="modal" data-target="#if-signin">Login</div>-->
        <%= image_tag("signup.png", :alt => "Fail", :id => "signup") do%> 
        <%end%>
      </td>
      <td class="align-left">
        <%= image_tag("login.png", :alt => "Fail", :id => "signin") do%> 
        <%end%>
        <!--<div class="" data-toggle="modal" data-target="#if-signup">Sign up</div>-->
      </td>
    </table>
    <table style="margin-top:11px;">
      <tr>
        <td class="align-right">
          <%= link_to "/auth/facebook" do%>
            <%= image_tag("login_facebook.png", :alt => "Fail")%> 
          <%end%>
        </td>
        <td class="align-left">
          <%= link_to "/auth/twitter" do%>
            <%= image_tag("login_twitter.png", :alt => "Fail")%> 
          <%end%>
        </td>
      <tr/>
    </table>
  </div>
</div>
<%= render :partial => 'users/modal' %>
