<div id="inner-container">
  <div id="main-logo">
    <%= image_tag("logo_login.png", alt: "Fail") %> 
  </div>
  <div id="member-section">
    <div id="input">
      <div style="" id="email">
        <input type="email" placeholder="Email" style="padding:10px">
      </div>
      <div style="" id="password">
        <input type="password" placeholder="Password" style="padding:10px">
      </div>
    </div>
    <table style="margin-top:20px">
      <td class="align-right">
        <!--<div class="" data-toggle="modal" data-target="#if-signin">Login</div>-->
        <%= image_tag("signup.png", :alt => "Fail", :id => "signup") do%> 
        <%end%>
      </td>
      <td class="align-left">
        <%= image_tag("login.png", :alt => "Fail", :id => "signin") do%> 
        <%end%>
        <!--<div class="" data-toggle="modal" data-target="#if-signup">Sign up</div>-->
      </td>
    </table>
    <table style="margin-top:14px;">
      <tr>
        <td class="align-right">
            <%= image_tag("login_facebook.png", :alt => "Fail",
                          :id => "fb-login")%> 
        </td>
        <td class="align-left">
            <%= image_tag("login_twitter.png", :alt => "Fail",
                          :id => "tw-login")%> 
        </td>
      <tr/>
    </table>
  </div>
</div>
<%= render :partial => 'users/modal' %>
<div id="spinner"></div>
<div id="modal"></div>
