<!--
<div class="row">
  <h1>VERSUS</h1>
</div>
<div class="row">
  <% render :partial => 'users/carousel' %>
</div>
<div class="row">
  <h1>운명을 예측해 보세요.</h1>
</div>
<div class="row">
  <div class="col-xs-4">
    <%=link_to "/auth/facebook" do%>
      <button type="button" class="btn btn-primary">페이스북</button>
    <%end%>
  </div>
  <div class="col-xs-4">
    <%=link_to "/auth/facebook" do%>
      <button type="button" class="btn btn-primary">트위터</button>
    <%end%>
  </div>
  <div class="col-xs-4">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#reg-nick">게스트</button>
  </div>
</div>
-->
<div id="auth-group">
  <div class="guest-login" data-toggle="modal" data-target="#if-signin">IF Login</div>
  <table>
    <tr>
      <td class="fb-login">
        <%=link_to "/auth/facebook" do%>
          <span>Login with facebook</span>
        <%end%>
      </td>
      <td class="tw-login">
        <%=link_to "/auth/twitter" do%>
          <span>Login with twitter</span>
        <%end%>
      </td>
    <tr/>
  </table>
</div>
<%= render :partial => 'users/modal' %>
